<%unless @recipe.target_food(food_recipe.food_id).nil?%>
  <tr>
    <td class="food-title">
        <strong><%= @recipe.target_food(food_recipe.food_id).name %></strong>
      </td>
      <td class="measurements"><%= food_recipe.quantity %></td>
      <td class="item-price">USD <%=  @recipe.target_food(food_recipe.food_id).price * food_recipe.quantity %></td>
  </tr>
<% end %>
