<div class="foods-main-container">
  <div class="foods-inner-content recipes-container">
    <h2 class="subheadings sub-head-recipe">Recipes's list</h2>
      <div class="recipes-cards-container">
        <% @recipes.includes(:user).each do |recipe| %>
          <%= render recipe, :recipe => recipe %>
        <% end %>
      </div>
      <%= link_to "New recipe", new_recipe_path, class: "sign-up-btns" %>
  </div>
</div>
