<div class="food-details-cont">
  <div class="food-info fomrs-contaier">
    <div class="creation-forms">
     <h2 class="subheadings">New recipe</h2> 
        <%= render "form", recipe: @recipe %>
    </div>
  </div>
</div>
