/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  gap: 20px;
}

footer {
  padding: 10px;
  border-top: 1px solid black;
  text-align: center;
}

.foods-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 20px;
}

.foods-inner-content {
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(177, 177, 177);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-details-cont {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.food-info {
  width: 80%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(177, 177, 177);
}

.food-ava {
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4a;
  font-size: 16px;
  max-height: 600px;
  overflow: scroll;
}

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  color: #fff;
  background: linear-gradient(#49708f, #293f50);
  font-size: 12px;
  text-transform: uppercase;
}

th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}

th:last-child {
  border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.food-title {
  color: #395870;
  border-left: 1px solid #cecfd5;
}

.text-offset {
  color: #7c7c80;
  font-size: 12px;
}

.item-price,
.actions {
  text-align: center;
}

.item-price {
  text-align: right;
}
